<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJ4UTgz-rAc4m_1EVEQPs9AKbUV6k1bq8</string>
	<key>GCM_SENDER_ID</key>
	<string>937271157914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nwmissouri.fall2023.cs44643.DrawingApp2</string>
	<key>PROJECT_ID</key>
	<string>drawing-app-d961c</string>
	<key>STORAGE_BUCKET</key>
	<string>drawing-app-d961c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937271157914:ios:15e05c11dc8798c9e5eb23</string>
</dict>
</plist>